@import url('./parts/docs-manual-01.css');
@import url('./parts/docs-manual-02.css');
@import url('./parts/docs-manual-03.css');
@import url('./parts/docs-manual-04.css');
@import url('./parts/docs-manual-05.css');

